{% extends 'mail.html.twig' %}
{% block body %}
    {% set url = "#{domain}/confirm-reset-password?token=#{token}" %}

    <h1>Здравствуйте!</h1>

    <p>
        Если Вы не являетесь инициатором сброса пароля в сервисе <b>{{ domain }}</b>, то просто проигнорируйте данное письмо.
    </p>

    <p>Для сброса пароля перейдите по <b><a href="{{ url }}">ССЫЛКЕ</a></b></p>

{% endblock %}
